<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="styles/create.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<title>Create</title>
	</head>
	<body>
		<%-include('partials/header.ejs')%>
  <div class="outerbox">
		<div class="formbox">
			<h1>Create Your Post</h1>
			<div class="innerbox">
			<form action="/create" method="POST">
				<label for="title">Title</label><br />
				<input type="text" id="title" name="title" /><br />
				<label for="content">Content:</label><br />
				<textarea id="content" name="content" rows="8" cols="70"></textarea><br />
				<label for="title">Author</label><br />
				<input type="text" id="name" name="auth" /><br />
				<button type="submit" id="btn">Post</button>
			</div>
			</form>
		</div>
</div>
</body>
</html>
