.box1 {
	height: 91vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content {
	height: 60vh;
	width: 95%;
	border-radius: 12px;
	padding: 10px;

}
#name {
	border-radius: 12px;
	margin-bottom: 5px;
}
#title {
	border-radius: 10px;
}
.box2 {
	text-align: center;
	width: 100%;
	font-weight: 300;
	padding: 10px;
	height: 88vh;
	color: #5b5b5b;
	font-family: 'Kanit', sans-serif;
}
