.hero {
	width: 100%;
	height: 50vh;
}
.container p{
	font-weight: bolder;
	font-size: 20px;
}
.card {
	font-family: 'Kanit', sans-serif;
	font-weight: 300;
	text-align: center;
	border-radius: 10px;
	width: 30%;
	margin: 10px;
}
.posts {
	display: flex;
	flex-wrap: wrap;
	
    align-items: flex-start;
    gap: 20px;
}
.container {
	color: #405332;
	margin: 2rem;
	margin-top: 4rem;
	text-align: center;
	width: 80%;
}
.middle.expanded .card-body{
	max-height: none;
}
.card-body{
	max-height: 200px; /* Initial height */
    overflow: hidden;
}
.container h1 {
	font-family: 'Pacifico', cursive;
	font-weight: 400;
	font-style: normal;
}

@media (max-width: 600px) {
	.content {
		width: 65%;
	}
}
