.hero {
	width: 100%;
}
.posts {
	display: flex;
	flex-wrap: wrap;
}
.container {
	color: #405332;
	margin: 2rem;
	margin-top: 4rem;
	text-align: center;
}

.h1 {
	font-family: 'Pacifico', cursive;
	font-weight: 400;
	font-style: normal;
}

@media (max-width: 600px) {
	.content {
		width: 65%;
	}
}
