.hero {
	width: 100%;
}
.posts {
	display: flex;
	flex-wrap: wrap;
	
    align-items: flex-start;
    gap: 20px;
}
.container {
	color: #405332;
	margin: 2rem;
	margin-top: 4rem;
	text-align: center;
}
.middle.expanded .card-body{
	max-height: none;
}
.card-body{
	max-height: 200px; /* Initial height */
    overflow: hidden;
}
.h1 {
	font-family: 'Pacifico', cursive;
	font-weight: 400;
	font-style: normal;
}

@media (max-width: 600px) {
	.content {
		width: 65%;
	}
}
